<div class="row">
	<div class="small-centered large-9 columns">
		<div class="row">
			<%= todays_events %>
		<div class="large-8 columns todayEvent">
			<% @event.each do |event| %>
			<% if event.eventdate === @eventDate %>
				<% if event.image %>
					<%= image_tag("/assets/#{event.image}") %>
				<% else %>
					<%= image_tag("http://placehold.it/100x100", :class => "img img-circle pull-left") %>
				<% end %>
				<span id="eventName">It's <%= event.title %>!</span><br>
				<%= link_to("More Information >>", event.link, :class =>"source") %>
		</div>
		<% end %>
	<% end %>
	</div>
</div>