<!DOCTYPE html>
<html>
<head>
  <title>Funkycalendar</title>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>

</head>
<body>
	<div class="header">
		<h1><%= link_to "Funky Calendar" , '/' %></h1>
	</div>
	<div class="container">
			
			<h3>Wondering what wacky day it is today?</h3>
			Today is <span id="currentdate"><%= Date.current.to_formatted_s(:long) %></span><br><br>
		<%= yield %>
	</div>

</body>
<footer>
	<div class="container" style="margin-top: 15px; font-size: 14px; margin-bottom: 20px;">
		A Project By: <a href="http://staticsteven.com">staticsteven</a>
	</div>
</footer>
</html>
