<!DOCTYPE html>
<html>
<head>
  <title>Funky Calendar - Find Out Today's Wacky Holiday</title>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>

  <%= csrf_meta_tags %>
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>

</head>
<body>
	<div class="header">
		<h1>Wondering what wacky day it is today?</h1>
	</div>
	<div class="container">
		<%= yield %>
	</div>

</body>
<footer>
	<div class="span10 offset2" style="margin-top: 15px; font-size: 14px; margin-bottom: 20px;">
		<%= link_to("Funky Calendar", '/') %> - A Project By <a href="http://staticsteven.com">staticsteven</a>
		<%= link_to( "FAQ", "/faq", :class => "pull-right") %>
	</div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39752123-1', 'funkycalendar.com');
  ga('send', 'pageview');

</script>
</html>
